#!ipxe

:retry_boot
imgfree
kernel --timeout 60000 http://{{ bootstrap_ip }}/rhel8/vmlinuz initrd=initramfs inst.repo=http://{{ bootstrap_ip }}/rhel8/repo ip=::::{{ item.key }}:{{ item.value.get('pxe_device') }}:dhcp ksdevice=bootif inst.lang=  biosdevname=1 rd.net.dhcp.retry=10 text rd.emergency=reboot kssendmac net.ifnames=1 inst.ks=http://{{ bootstrap_ip }}/kickstarts/{{ item.key }} || goto retry_boot
initrd --timeout 60000 --name initramfs http://{{ bootstrap_ip }}/rhel8/initrd.img || goto retry_boot
boot
